@font-face {
    font-family: "Pokemon";
    src:url("../assets/fonts/Pokemon\ Solid.ttf");
}

.stop-music{
    font-size: 15px;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(5,minmax(120px,220px));
    grid-gap: 10px;
    grid-auto-rows: minmax(50px,auto);
    margin-bottom: 10px;
    padding-left: 5px;
    justify-content: center;

}

.main-title h1{
    margin-bottom: 20px;
    font-family: 'Pokemon', sans-serif;
    letter-spacing: 7px;
    font-size: 50px;
    -webkit-text-fill-color: rgb(255, 208, 0);
    -webkit-text-stroke-color: blue;
    -webkit-text-stroke-width: 1px; 
}

.button-container,.main-title{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    
}
#button-battle, #button-show, #message-div{
    display: none;
}

.card-container{
    border-radius: 10px;
    border: 1px solid black;
}

.pokemon-image-container{
    width: 100%;
    height: 120px;
    border: 1px solid black;
    
}
.pokemon-image {
    display: flex;
    height: 100%;
    margin: auto;
}

.pokemon-power{
    width: 100%;
    border: none;
    border: 1px solid black;
}


.pokemon-number{
    width: 100%;
    border: none;
    justify-content: center;
    border: 1px solid black;
}

.pokemon-name{
    width: 100%;
    border: 1px solid black;
}
.pokemon-number:hover{
    transition: 1s ease;
    background-color: rgba(59, 20, 235, 0.534);
}

.card-container-back
{
    width: 100%;
    height: 197px;
}

.score-container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,20px);
}

.messages{
    position: sticky;
}

/*
.results-show{
    display: flex;
    animation: opacityOnAndOff 2s normal forwards;
}

@keyframes opacityOnAndOff {
    0% {
        opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }
  */


